.body__main {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
}

.body__main-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.body__main-title {
    margin: 20px 0 40px 0;
}

.empty-box {
    height: 314px;
    background-color: rgb(199, 199, 199);
    width: 100%;
    margin: 0;
    padding: 0;

    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-box p {
    font-size: 1.5em;
    margin: 0;
}


@media only screen and (max-width: 1214px) {
    .body__main-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 732px) {
    .body__main-list {
        grid-template-columns: repeat(1 , 1fr);
    }
}